@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;500&display=swap');

.about-section {
    padding: 90px 20px;
    background-color: #f9f8f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0; /* Start invisible */
    transform: translateY(20px); /* Start slightly below */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
}

.about-section.visible {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to original position */
}

.about-section.hidden {
    opacity: 0; /* Fade out */
    transform: translateY(20px); /* Move down */
}

.about-container {
    display: flex;
    max-width: 1200px;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

.about-content {
    flex: 1;
    padding: 20px;
}

.about-content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.about-content p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
}

.cta-btn {
    padding: 10px 25px;
    background-color: #333;
    color: white;
    font-size: 1.1rem;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cta-btn:hover {
    background-color: #f58220;
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        max-width: 100%;
    }

    .about-content h2 {
        font-size: 2rem;
    }

    .about-content p {
        font-size: 1rem;
    }

    .cta-btn {
        font-size: 1rem;
    }
}
